KeySee_BE/.vs/KeySee/v17/.suo
KeySee_BE/.vs/
KeySee_BE/KeySee.Presentation/obj/
KeySee_BE/KeySee.Presentation/bin/
KeySee_BE/KeySee.Infrastructure/obj/
KeySee_BE/KeySee.Infrastructure/bin/
KeySee_BE/KeySee.Domain/obj/
KeySee_BE/KeySee.Domain/bin/
KeySee_BE/KeySee.Application/obj/
KeySee_BE/KeySee.Application/bin/
Files/Logs/
Files/KeySeeProjectLogs/
KeySee_BE/KeySee.Presentation/KeySeeProjectLogs/
KeySee_FE/node_modules/
